body {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  font-family: "Nanum Gothic", Arial, Helvetica, sans-serif;
}

.desktop-only {
  display: none;
}

ul {
  display: flex;
  margin: 0;
  padding: 0.5rem 8rem 0.2rem 0;
  list-style: none;
  align-items: flex-end;
}

li a {
  margin: 0 20px 0 0;
  color: rgb(255, 255, 255);
  font-size: 0.813em;
  text-decoration: none;
}

.navigation {
  display: flex;
  justify-content: center;
  align-items: center;
  padding: 15px 0;
  box-shadow: rgb(0 0 0 / 30%) 0 2px 8px 0;
}

footer img {
  padding: 60px;
}

main section img {
  width: 90%;
}

.nav-menu {
  display: none;
}

#nav-menu {
  position: fixed;
  z-index: 1;
  background: rgb(39, 42, 50);
  opacity: 0.95;
  width: 85%;
  height: 100%;
  text-align: center;
  transition: 0.3s;
}

#nav-menu ul {
  display: flex;
  flex-direction: column;
  justify-content: flex-start;
  align-items: flex-start;
}

.nav-menu li {
  list-style: none;
}

#nav-menu li {
  padding: 5px 20px;
  font-size: 1.2em;
  line-height: 1.8em;
  border: 1px solid rgb(60, 63, 70);
  border-right: 0;
  border-top: 0;
  text-align: left;
  width: 125%;
}

.mobile-menu-btn {
  position: absolute;
  top: 35px;
  left: 20px;
  z-index: 1;
}

.hide {
  display: none;
}

.menus li a {
  color: rgb(136, 136, 136);
  font-size: 0.938em;
  font-weight: bold;
  padding-right: 30px;
}

.contact-us a:nth-child(n) {
  text-decoration: none;
  padding-left: 20px;
}

#highlights,
#conf-logo {
  text-align: center;
  color: #272a31;
}

#highlights h2,
#conf-logo h2 {
  margin: 50px 0 0 0;
}

#conf-logo p {
  padding: 0 200px;
}

footer section img {
  padding: 12px 24px;
}

.partners img {
  width: 100px;
  margin: 0;
  padding: 20px;
}

.border {
  margin: 80px 0 30px 0;
  border-top: 1px solid #d3d3d3;
}

.mobile-menu-btn img {
  width: 20px;
}

footer section img:first-child {
  width: 25%;
  padding-left: 64px;
}

footer section img:last-child {
  width: 35%;
}

#conf-logo img {
  width: 350px;
  margin-top: 40px;
  border: 1px solid #d3d3d3;
  padding: 50px;
}

#highlights img {
  width: 40%;
  padding: 40px 20px;
  margin-bottom: 50px;
}

.btn {
  border: none;
  background-color: white;
  cursor: pointer;
}

.close,
.menu-1,
.menu-2 {
  cursor: pointer;
  border: none;
  background-color: rgb(39, 42, 50);
}

.close {
  position: relative;
  top: 8px;
  left: 150px;
  margin-bottom: 15px;
}

.menu-1 {
  display: none;
  position: relative;
  top: -30px;
  left: 340px;
}

.menu-2 {
  display: none;
  position: relative;
  top: -30px;
  left: 340px;
}

#add-em li,
#add-er li {
  border: none;
}

#live a {
  font-size: 1em;
  font-weight: bold;
  background-color: #ef513c;
  padding: 10px 15px;
  color: #fff;
}

main {
  background: url(images/mobile_intro_bg.png);
  background-repeat: repeat-x;
  background-position: center center;
}

.greeting {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 24px;
  font-weight: 400;
  color: #ec5242;
  margin: 0;
  padding: 0 12px;
  width: 90%;
  text-align: center;
}

.title {
  font-family: Lato, Arial, Helvetica, sans-serif;
  font-size: 32px;
  font-weight: 900;
  color: #ec5242;
  margin: 0;
  padding: 0 12px;
  width: 90%;
  text-align: center;
}

main section {
  text-align: center;
  padding-top: 51px;
}

.message {
  margin: 17px 0.75em 0;
  width: calc(100% - 2.5em);
  padding: 1em 0.5em;
  line-height: 150%;
  font-size: 13px;
  height: auto;
  text-align: justify;
  border: 4px solid rgb(255, 255, 255);
  background-color: rgb(247, 247, 248);
}

.partners {
  text-align: center;
  background-color: #272a31;
  height: 300px;
}

.partners h3 {
  color: #d3d3d3;
  font-size: 24px;
  margin-bottom: 0;
  padding-bottom: 0;
}

.partners section {
  padding-top: 60px;
  display: flex;
  justify-content: center;
  flex-wrap: wrap;
}

footer {
  background-color: #d3d3d3;
  display: flex;
  flex-direction: row;
  justify-content: center;
  align-items: center;
  color: #272a31;
  font-size: 0.75rem;
  padding: 24px 24px;
}

@media screen and (min-width: 768px) {
  .desktop-only {
    display: flex;
    background-color: rgb(62, 62, 62);
    width: 100%;
    justify-content: end;
    align-items: flex-end;
  }

  .desktop-only li:nth-child(3) {
    padding-bottom: 0.3rem;
  }

  .navigation {
    justify-content: space-around;
    padding: 10px 0 10px 80px;
  }

  .mobile-menu-btn {
    display: none;
  }

  #nav-menu {
    display: none;
  }

  .nav-menu {
    display: flex;
    margin: 0;
    padding: 0.5rem 8rem 0.2rem 0;
    list-style: none;
    align-items: flex-end;
  }

  .menus li a {
    color: rgb(136, 136, 136);
    font-size: 0.938em;
    font-weight: bold;
    padding-right: 30px;
  }

  .sub-menus {
    display: none;
  }

  main {
    background: url(images/main_big.png);
    height: 855px;
  }

  .greeting {
    font-size: 48px;
  }

  .title {
    font-size: 72px;
  }

  main section {
    text-align: center;
    margin: 0 115px;
    padding-top: 140px;
  }

  .message {
    text-align: center;
    border: 4px solid rgb(255, 255, 255);
    height: 90px;
    width: 80%;
    margin: 15px 0 40px;
    line-height: 220%;
    padding: 10px 25px 0;
    font-size: 1.125em;
  }

  footer {
    font-size: 0.875rem;
  }

  .guide-bar {
    width: 53px;
    height: 16px;
    border-bottom: 1px solid rgb(239, 81, 60);
    margin: 0 auto 5px;
  }
}
